<div class="wrapper">
    <!-- fixed navigation bar -->
    <div class="navbar navbar-fixed-top navbar-inverse position-relative" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#b-menu-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Task Manager</a>
            </div>
            <div class="collapse navbar-collapse" id="b-menu-1">
                <ul class="nav navbar-nav navbar-right">
                    <li (click)="ToggleView('add')"  (ngclass)="AddMenucss"><a  href="javascript:void(0)">Add Task</a></li>
                    <li (click) = "ToggleView('view')"(ngclass)="ViewMenucss" ><a href="javascript:void(0)">View Task</a></li>
                </ul>
            </div> <!-- /.nav-collapse -->
        </div> <!-- /.container -->
    </div> <!-- /.navbar -->
    <div class="input-div" *ngIf = "AddTask" >
        <h3>Task Details</h3>
        <div class="form-group">
            <label for="firstname" class="control-label">Task:</label>
            <input type="text" class="form-control" id="Task" placeholder="Task Name" data-error="Enter  Task Name" [(ngModel)]="TaskName" required>
            <div class="help-block with-errors"></div>
        </div>
        <div class="form-group">
            <label for="lastname" class="control-label">Priority:</label>
            <input type="range" min="1" max="100" value="50" class="slider" [(ngModel)]='Priority'  id="myRange">
            <!-- <ng2-slider min="6" max="23" startValue="9" endValue="21" stepValue="2" 
    [normalHandlerStyle]="{ 'background-color': 'green'}" [slidingHandlerStyle]="{ 'border-radius': '9px',
          'background-color': 'red'
    }"> 
</ng2-slider>-->
            <div class="help-block with-errors"></div>
        </div>
        <div class="form-group">
            <label for="lastname" class="control-label">Parent Task:</label>
            <!-- <input type="text" class="form-control" id="parentTask" placeholder="Last Name" [(ngModel)]="ParentTask" data-error="Enter Parent Task" required> -->
            <select class="form-control" name="Parent_ID" [(ngModel)]="ParentTask">
              <option value='null' class="ng-binding">Please Select Task</option>
              <option [ngValue]="parent.Parent_ID" *ngFor="let parent of ParentTaskList">
                  {{parent.Parent_Task}}
              </option>
          </select>
            <div class="help-block with-errors"></div>
        </div>
        <div class="form-group">
            <label for="lastname" class="control-label">Start Date:</label>
            <input type="date" class="form-control" id="startdate"  placeholder="Start Date" [(ngModel)]="StartDate" data-error="Enter Start Date" required>
            <!-- <angular2-date-picker [(ngModel)]="StartDate" [settings]="settings"></angular2-date-picker> -->
 
            <div class="help-block with-errors"></div>
        </div>
        <div class="form-group">
            <label for="lastname" class="control-label">End Date:</label>
            <input type="date" class="form-control" id="enddate" placeholder="End Date" [(ngModel)]="EndDate" data-error="Enter End Date" required>
            <!-- <angular2-date-picker [(ngModel)]="EndDate" [settings]="settings"></angular2-date-picker> -->
            <div class="help-block with-errors"></div>
        </div>

        <div class="form-group">
            <button type="button" (click)="CreateTask()" class="btn btn-primary">Add Task</button>
            <button type="button" (click)="ResetTaskData()" class="btn btn-primary">Reset</button>

        </div>
    </div>
    <div *ngIf = "ViewTask">
    <div class="input-div" >
        <h3>View Task</h3>
        <div class="row">
            <div class="col-sm-6">
                <label for="Task" class="control-label">Task:</label>
                <input type="text" class="form-control" id="taskName" [(ngModel)]="searchTask" placeholder="Task Name">
            </div>
            <div class="col-sm-6">
                <label for="Parent Task" class="control-label">Parent Task:</label>
                <input type="text" class="form-control" id="parentTask" [(ngModel)]="searchPTask" placeholder="Parent Task">
            </div>
        </div>
        <div class="row margin-top10">
            <div class="col-sm-3">
                <label for="Task" class="control-label">Priority From:</label>
                <input type="text" class="form-control" id="priorityfrom" [(ngModel)]="searchpriorityFrom" placeholder="Priority From">
            </div>
            <div class="col-sm-3">
                <label for="Parent Task" class="control-label">Priority To:</label>
                <input type="text" class="form-control" id="priorityTo"[(ngModel)]="SearchPriorityTo" placeholder="Priority To">
            </div>
            <div class="col-sm-3">
                <label for="Task" class="control-label">Start Date:</label>
                <input type="text" class="form-control" id="startdate" placeholder="Start Date">
            </div>
            <div class="col-sm-3">
                <label for="Parent Task" class="control-label">End Date:</label>
                <input type="text" class="form-control" id="endDate" placeholder="End Date">
            </div>
        </div>
        <div class="row margin-top10">
            <button type="button" (click)="SearchTask()" class="btn btn-primary">Search</button>
        </div>
    </div>
    <div class="container margin-top10">
        <div id="no-more-tables">
        <table class="col-sm-12 table-bordered table-striped table-condensed cf">
            <thead class="cf">
                <tr>
                    <th>Task </th>
                    <th>Parent</th>
                    <th>Priority</th>
                    <th>Start</th>
                    <th>End</th>
                    <th colspan="2">Action</th>
                   
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let task of TaskList" > 
                    <td data-title="Task">{{task.Task}}</td>
                    <td data-title="Parent">{{task.ParentTask}}</td>
                    <td data-title="Priority">{{task.Priority}}</td>
                    <td data-title="Start">{{task.StartDate |date:'MM-dd-yyyy'}}</td>
                    <td data-title="End">{{task.EndDate|date:'MM-dd-yyyy'}}</td>
                    
                    <td><button type="button" (click)='EditTask(task)' class="btn btn-primary btn-sm">Edit</button>
                    <button *ngIf="task.IsTaskEnded!=1" type="button" (click)='EndTask(task)'  class="btn btn-primary btn-sm">End Task</button></td>
                </tr>
            </tbody>
        </table>
            </div>
    </div>
  </div>
</div>
<div class="push"></div>
<footer class="footer"></footer>
